# Local Development
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
VITE_ONESIGNAL_APP_ID=b2cc37c8-0dbe-4906-b7a4-eca733796c9c

# Production Deployment
# NEXT_PUBLIC_BACKEND_URL=https://livementorhub.com
# VITE_ONESIGNAL_APP_ID=b2cc37c8-0dbe-4906-b7a4-eca733796c9c
