# Dependencies
node_modules/

# Build Outputs
dist/
build/
.next/
out/

# Environment Files (Ignore .env, keep .env.example)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs & OS files
*.log
.DS_Store
Thumbs.db
